@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --cor-primaria-1:#949BA0;
    --cor-primaria-2:#9DACB2;
    --cor-primaria-3:#A0B9BF;
    --cor-primaria-4:#A5CCD1;

    --cor-branco:#fff;
    --cor-preto:#1d1d1d;
    --cor-sombra: rg(0, 0, 0, 0.15);
    --cor-texto:#333;
    --fonte: "Poppins", sans-serif;
    --raio: 12px;
    --transition:0.3s ease;


}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: var(--fonte);
    background: #1e90bd;
    background: linear-gradient(90deg, rgba(30, 144, 189, 1) 0%, rgba(154, 87, 199, 1) 62%, rgba(237, 83, 170, 1) 100%);
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    padding: 20px;

}